.carousel .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--lightBlue);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.carousel .carousel-slide {
  position: relative;
}


.carousel .carousel-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.carousel .carousel-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.carousel .carousel-description {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
}

.carousel .control-arrow,
.carousel .control-prev,
.carousel .control-next {
  color: black;
  border-radius: 50%;
  padding: 0.5rem;
}

.carousel .control-arrow:hover {
  background: var(--primary);
}

.carousel .control-dots .dot {
  background: var(--primary);
  box-shadow: var(--shadow);
}

.carousel .control-dots .dot.selected {
  background: var(--blue);
}

/* Media Queries */
@media (max-width: 1200px) {
  .carousel .carousel-title {
    font-size: 1.5rem;
  }

  .carousel .carousel-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .carousel .carousel-caption {
    padding: 0.8rem;
  }

  .carousel .carousel-title {
    font-size: 1.2rem;
  }

  .carousel .carousel-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .carousel .carousel-caption {
    padding: 0.5rem;
  }

  .carousel .carousel-title {
    font-size: 1rem;
  }

  .carousel .carousel-description {
    font-size: 0.7rem;
  }
}
